<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render partial: "api/users/user", formats: :json, locals: { user: current_user } %>;
  </script>
<% end %>

<main id="root">Error</main>