.upload-symbol {
   padding-left: 10px;
   margin-top: 5px;
   height: 22px;
 }

 .trending-header {
   font-family: sofia-pro, sans-serif;
   font-weight: 700;
   font-size: 57px;
   line-height: 1;
   margin-bottom: 6px;
 }

 .trending-description {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8a8b91;
 }

 .feed-page-body {
   margin: auto;
   padding: 50px 20px;
   display: flex;
   width: 1176px;
 }

 .feed {
   display: flex;
   flex: 1 1 auto;
   flex-direction: row;
   max-width: 840px;
   flex-wrap: wrap;
   height: min-content;
 }

 .feed .video {
   width: 256px;
   height: 380px;
   border-radius: 5px;
   object-fit: cover;
   margin-right: 24px;
   margin-bottom: 24px;
 }

 .end-of-feed {
   height: 10px;
 }

 .logout-button {
   padding: 5px 10px;
   border-radius: 2px;
   border: 1px solid#fe2c55;
   color: white;
   background-color: #fe2c55;
   text-decoration: none;
   font-family: sofia-pro, sans-serif;
   font-style: normal;
   font-size: 13px;
   font-weight: 500;
   cursor: pointer;
   margin-left: 10px;
 }

 .greeting {
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
    width: 205.42px;
 }

 .greeting-user-profile {
   line-height: 10px;
 }

 .video-index-footer {
  height: 84px;
  background-color: #000;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
 }