.profile-photo {
    width: 138px;
    height: 138px;
    flex: 0 0 138px;
    border-radius: 50%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: center center / cover no-repeat;
}

.user-show-outer-feed {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.profile-photo-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}