/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: "sofia-pro";
    font-size: 14px;
    margin: 0;
 }

 * {
     box-sizing: border-box;
 }

 .logo1 {
   font-family: sofia-pro, sans-serif;
   padding-left: 20px;
   text-decoration: none;
   color: black;
 }

 header {
     /* display: flex;
     justify-content: space-between;
     align-items: center;
     height: 70px; */
    width: 100%;
    height: 42px;
    margin-top: 19px;
    padding: 0px 32px 0px 8px;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
 }

 .login-button {
     padding: 5px 10px;
     border-radius: 2px;
     border: 1px solid#fe2c55;
     color: #fe2c55;
     background-color: white;
     text-decoration: none;
     margin-right: 10px;
     font-family: sofia-pro, sans-serif;
     font-style: normal;
     font-size: 13px;
     font-weight: 500;
 }

 .demo-user-button {
    color: rgba(22, 24, 35, 0.3);
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 2px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    border: none;
 }

 .signup-button {
     padding: 5px 10px;
     border-radius: 2px;
     border: 1px solid#fe2c55;
     color: white;
     background-color: #fe2c55;
     text-decoration: none;
     font-family: sofia-pro, sans-serif;
     font-style: normal;
     font-size: 13px;
     font-weight: 500;
 }

 .logout-button {
   padding: 5px 10px;
   border-radius: 2px;
   border: 1px solid#fe2c55;
   color: white;
   background-color: #fe2c55;
   text-decoration: none;
   font-family: sofia-pro, sans-serif;
   font-style: normal;
   font-size: 13px;
   font-weight: 500;
   cursor: pointer;
   margin-left: 10px;
 }

 .greeting {
    display: flex;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
 }

 .greeting-user-profile {
    line-height: 10px;
 }

 .form-title {
    font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto 60px;
 }

 .form-header-signup, .form-header-login {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 40.5px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
 }

 .form-header-signup a, .form-header-login a {
    height: 40.5px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    width: 100%;
    overflow: auto;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgba(22, 24, 35, 0.6);
    overflow: hidden;
    text-decoration: none;
    padding: none;
    margin: none;
    top: 50%;
    box-sizing: border-box;
    padding-top: 10px;
 }

 .form-header-signup a:first-of-type {
    border-bottom: 1px solid black;
    color: black;
 }

 .form-header-login a:last-of-type {
    border-bottom: 1px solid black;
    color: black;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 280px;
   /* min-height: 480px; */
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 310px;
   margin: 0 auto;
   /* margin-top: 63px; */
 }

 .error-messages {
   list-style: none;
   color: red;
   
 }

 .session-submit {
    color: rgba(22, 24, 35, 0.3);
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 2px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    border: none;
 }

 .login-input {
    height: 48px;
    width: 100%;
    padding: 0;
    border: none;
    caret-color: #FE2C55;
    line-height: 100%;
    outline: none;
    pointer-events: initial !important;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    font-size: 11px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
 }

 .login-input::placeholder {
  color: gainsboro;
 }

 .copywright {
    color: white;
 }

 footer {
    height: 84px;
    background: #000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
 }