/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
    font-family: "sofia-pro";
    font-size: 14px;
    margin: 0;
 }

 * {
     box-sizing: border-box;
 }

 .logo {
   font-family: sofia-pro, sans-serif;
   padding-left: 20px;
   text-decoration: none;
   color: black;
 }

 .page-header {
    /* width: 100%; */
    /* height: 70px; */
    /* margin-top: 19px; */
    padding: 0px 32px 0px 8px;
    /* position: fixed; */
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    /* -webkit-box-align: center; */
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    background: #ffffff;
    border-bottom: 1px solid rgba(34,90,89,0.2);
    z-index: 9;
 }

 .form-page-header {
    /* display: flex;
     justify-content: space-between;
     align-items: center;
     height: 70px; */
    width: 100%;
    height: 42px;
    margin-top: 19px;
    padding: 0px 32px 0px 8px;
    /* position: fixed; */
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
 }

 .login-button {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid#fe2c55;
  color: #fe2c55;
  background-color: white;
  text-decoration: none;
  margin-right: 10px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
 }

 .trending-header {
   font-family: sofia-pro, sans-serif;
   font-weight: 700;
   font-size: 57px;
   line-height: 1;
   margin-bottom: 6px;
 }

 .trending-description {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8a8b91;
 }

 .feed-page-body {
   margin: auto;
   padding: 50px 20px;
   display: flex;
   /* flex-direction: row; */
   width: 1176px;
 }

 .feed {
   display: flex;
   flex: 1 1 auto;
   flex-direction: row;
   max-width: 840px;
   flex-wrap: wrap;
   height: min-content;
 }

 .feed .video {
   width: 256px;
   height: 380px;
   border-radius: 5px;
   object-fit: cover;
   margin-right: 24px;
   margin-bottom: 24px;
   /* float: left; */
 }

 .end-of-feed {
   height: 10px;
 }

 .splash-page-body {
    padding-top: 36px;
    text-align: center;
    display: block;
 }

 .splash-title {
   font-family: sofiapro, PingFangSC, sans-serif;
   font-weight: 700;
   font-size: 72px;
   line-height: 1;
   padding-top: 10px;
   margin-bottom: 0;
   /* font-family: sofia-pro, sans-serif; */
   /* text-decoration: none; */
 }

 .splash-description {
   font-family: "sofiapro-medium",PingFangSC,sans-serif;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   margin-top: 3px;
 }

 .video-banner-container {
  margin-top: 24px;
  width: 100%;
 }

 .video-banner {
  max-width: 100%;
  display: flex;
 }

 .video-banner .video {
  object-fit: cover;
  max-width: 100%;
 }

 .demo-user-button {
  color: white;
  font-weight: 500;
  font-size: 12px;
  background-color: #fe2c55;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 2px;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  border: none;
 }

 .signup-button {
     padding: 5px 10px;
     border-radius: 2px;
     border: 1px solid#fe2c55;
     color: white;
     background-color: #fe2c55;
     text-decoration: none;
     font-family: sofia-pro, sans-serif;
     font-style: normal;
     font-size: 13px;
     font-weight: 500;
 }

 .logout-button {
   padding: 5px 10px;
   border-radius: 2px;
   border: 1px solid#fe2c55;
   color: white;
   background-color: #fe2c55;
   text-decoration: none;
   font-family: sofia-pro, sans-serif;
   font-style: normal;
   font-size: 13px;
   font-weight: 500;
   cursor: pointer;
   margin-left: 10px;
 }

 .greeting {
    display: flex;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
 }

 .greeting-user-profile {
   line-height: 10px;
 }

 .form-title {
    font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto 60px;
 }

 .form-header-signup, .form-header-login {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 40.5px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
 }

 .form-header-signup a, .form-header-login a {
    height: 40.5px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    width: 100%;
    /* overflow: auto; */
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgba(22, 24, 35, 0.6);
    /* overflow: hidden; */
    text-decoration: none;
    padding: none;
    margin: none;
    top: 50%;
    box-sizing: border-box;
    padding-top: 10px;
 }

 .form-header-signup a:first-of-type {
    border-bottom: 1px solid black;
    color: black;
 }

 .form-header-signup, .form-header-login {
   margin-bottom: 33px;
 }

 .form-header-login a:last-of-type {
    border-bottom: 1px solid black;
    color: black;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 55px;
   margin-bottom: 280px;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 310px;
   margin: 0 auto;
 }

 .error-messages {
   list-style: none;
   color: red;
   font-family: sofiapro, PingFangSC, sans-serif;
 }

 .session-submit {
    color: rgba(22, 24, 35, 0.3);
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 2px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    border: none;
 }

 .login-input {
    height: 48px;
    width: 100%;
    padding: 0;
    border: none;
    caret-color: #FE2C55;
    line-height: 100%;
    outline: none;
    pointer-events: initial !important;
    -webkit-appearance: none;
    margin: 0;
    /* overflow: visible; */
    box-sizing: border-box;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    font-size: 11px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
 }

 .login-input::placeholder {
   color: gainsboro;
 }

 .copyright {
   color: #8a8b91;
   font-size: 14px;
   line-height: 54px;
   /* font-family: sofia-pro, sans-serif; */
   font-weight: 500;
   position: absolute;
   right: 11%;
   font-family: sofiapro, PingFangSC, sans-serif;
 }

 footer {
   height: 84px;
   background-color: #000;
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin-bottom: 0px;
 }